<!DOCTYPE html>
<html>
<head>
    <title>Plant Disease Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <!-- Banner -->
    {% include 'banner.html' %}

    <!-- Slider -->
    {% include 'slider.html' %}

    <!-- Main Layout (Sidebar + Content) -->
    <div class="layout">
        {% include 'sidebar.html' %}

        <div class="main-content">
            {% block content %}
            {% endblock %}
        </div>
    </div>

</body>
</html>